<h2>新しいタスクを作成</h2>

<form (ngSubmit)="createNewTask()" #taskForm="ngForm">
  <div>
    <label for="title">タイトル</label>
    <input type="text" id="title" name="title" required [(ngModel)]="newTask.title" />
  </div>

  <div>
    <label for="detail">詳細</label>
    <textarea id="detail" name="detail" required [(ngModel)]="newTask.detail"></textarea>
  </div>

  <button type="submit" [disabled]="taskForm.invalid">作成</button>
</form>

<h2>タスク一覧</h2>
<ul>
    <li *ngFor="let task of tasks">
        {{ task.title }} - {{ task.completed ? 'Completed' : 'Not Completed' }}
        <a [routerLink]="['/tasks', task.id]">{{ task.title }}</a>
    </li>
</ul>