<div ng-controller="TaskCreateController" class="task-form">
  <form ng-submit="createTask()">
    <div class="form-group">
      <div>
        <label for="title">タイトル</label><p></p>
        <input type="text" id="title" ng-model="newTask.title" required>
      </div>

      <!-- ＋ボタンと選択肢 -->
      <div>
        <button type="button" ng-click="toggleFieldSelector()">＋ 項目追加</button>
        <div ng-if="showFieldSelector">
          <p>追加する項目を選んでください：</p>
          <div class="field-options">
            <button
              type="button"
              ng-repeat="option in availableFields"
              ng-click="addField(option.key)"
              class="field-option-button"
            >
              {{ option.label }}
            </button>
          </div>
        </div>
      </div>
      <div ng-repeat="field in additionalFields">
        <label>{{ fieldDefinitions[field].label }}</label>
        <div ng-if="field == 'detail'">
          <textarea ng-model="newTask[field]" rows="4" cols="50"></textarea>
        </div>
        <div ng-if="field == 'dueDate'">
          <input type="date" id="due_date" ng-model="newTask[field]" />
        </div>
        <div ng-if="field != 'detail'">
          <input type="{{ fieldDefinitions[field].type }}" ng-model="newTask[field]" />
        </div>
      </div>
    </div>
    <div>
      <button type="submit">作成</button>
    </div>
  </form>
</div>


<div class="tasklist-container">
    <div class="sidebar task-list">
      <h2 class="tasklist-title">タスク一覧</h2>
      <ul>
        <li ng-repeat="task in tasks" class="tasklist-item">
          <a ng-href="#!/tasks/{{ task.id }}">
            <h3>{{ task.title }}</h3>
              <span class="status">
                {{ task.completed ? '✅ 完了' : '🕒 未完了' }}
              </span>
          </a>
        </li>
      </ul>
    </div>
    
    <div class="main">
      <div ng-if="mode == 'detail'" ng-include="detailTemplateUrl"></div>
      <div ng-if="mode == 'edit'" ng-include="editTemplateUrl"></div>
    </div>
  </div>
  